body {
    background: #ececec;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-family: Arial;
}

.calculator {
    background: white;
    padding: 20px;
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 8px;
}

.buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 15px;
    font-size: 18px;
    background: #f3f3f3;
    border: 1px solid #bbb;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #ddd;
}

.clear {
    grid-column: span 4;
    background: #ff5c5c;
    color: white;
}
